body {
    margin: 0;
    /* removes any default spacing that the browser does */
}
.navbar {
    background: #EFEFEF;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.background{
     height: 550px;

    background: linear-gradient(
        90deg,
        #ff1e1e 0%,
        #efb46b 100%
    );
    /* this blends two color with each other starts from the left which is #ff1e1e which start solid with 0% till the yellow and the 90deg so it sarts from the left to the right */

    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
}
.logo{
    /* background-color: orange; */
    width: 55px;
    /* height: 20%; */
    

}
.logo img{
    width: 100%;
    height: 10%;

}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.nav-links li {
    display: block;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'britannic';
    
}

.nav-links a:hover{
    color: white;
    background-color: #A90000;
    border-radius: 30px;
    padding: 10px;
}

.hamburger{
    display: none;
}
/* when the screen goes below the this number app;y the styling */


@media(max-width: 400px){
    .nav-links{
        display: none;
        padding-left: 50px;
    }

    .hamburger{
        display: block;
    }
}
.sidebar{
    height:100px;
     width:100px;
      position: absolute; 
      right:0; 
      background-color: aqua;
}
.background h1{
    color: white;
    font-family: 'britannic';
    font-size: 50px;
    padding-left: 450px;
    padding-top: 130px;
}
.background p{
    color: white;
    font-size: 20px;
    padding-left: 350px;
}
.start-button{
   padding: 10px;
   border-radius: 30px;
   border: none;
   color: black;
   font-size: 18px;
   font-family:'britannic' ;

    margin-left: 540px;
    margin-top: 30px;
    
}
.start-button:hover{
    color: white;
    background-color: #A90000;
;
}
.select-category h1{
    font-family: 'britannic';
    font-size: 50px;
    padding-left: 450px;
    padding-top: 130px;

}
.select-category p{
    font-size: 20px;
    padding-left: 350px;

}

.bahrain-category{
    background-color:#F4F4F4;
    width: 90%;
    height: 450px;
    /* height: 100%; */
    /* padding-left: 350px; */
    margin-left: 70px;
    border-radius: 10px;
    
}
.bahrain-cards{
    display: flex;
    justify-content:space-around;
    gap: 10px;
}
.bahrain-category button{
    color: white;
   padding: 10px;
   border-radius: 30px;
   border: none;
   font-size: 28px;
   font-family:'britannic' ;
   background-color: #FF8140;

    margin-left: 470px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    

}
.bahrain-q1{
    width: 170px;
    height: 250px;
    border: solid black 2px;
    border-radius: 10px;
    background-color:#FF7546;
    
    
}
.bahrain-q1 img{
    /* border: 2px black; */
    border-radius: 10px;
    width:170px;
    height: 180px;
    /* padding-left: 30px; */
}
.bahrain-q1-h2{
    font-family: 'britannic';
    background-color: #FF7546;
    color: white;
    padding-left: 20px;
    font-size: 14px;
}
.bahrain-q2{
    width: 170px;
    height: 250px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: #FF7546;
    
}
.bahrain-q2 img{
    /* border: 2px black; */
    border-radius: 10px;
    width:170px;
    height: 180px;
    /* padding-left: 30px; */
}
.bahrain-q2-h2{
    font-family: 'britannic';
    background-color: #FF7546;
    color: white;
    padding-left: 20px;
    font-size: 14px;

}
.bahrain-q3{
    width: 170px;
    height: 250px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: #FF7546;
    
}
.bahrain-q3 img{
    /* border: 2px black; */
    border-radius: 10px;
    width:170px;
    height: 180px;
    /* padding-left: 30px; */
}
.bahrain-q3-h2{
    font-family: 'britannic';
    background-color: #FF7546;
    color: white;
    padding-left: 45px;
    font-size: 14px;

}
.bahrain-q4{
    width: 170px;
    height: 250px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: #FF7546;
    
}
.bahrain-q4 img{
    /* border: 2px black; */
    border-radius: 10px;
    width:170px;
    height: 180px;
    /* padding-left: 30px; */
}
.bahrain-q4-h2{
    font-family: 'britannic';
    background-color: #FF7546;
    color: white;
    padding-left: 10px;
    font-size: 14px;

}
.play-button button{
   padding: 20px;
   border-radius: 30px;
   border: none;
   color: white;
    background: linear-gradient(
        90deg,
        #ff1e1e 0%,
        #efb46b 100%
    );
    margin-left: 550px;
    font-size: 18px;
   font-family:'britannic' ; 
   
   
}
.play-button button:hover{
    background-color: #A90000;
    background: #A90000;
}
/* //////////////////////////////////////////////////////////////////////////// */
/* board page */

.navbar-board {
    background: linear-gradient(
        90deg,
        #ff1e1e 0%,
        #efb46b 100%
    );
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.nav-links-board {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.nav-links-board li {
    display: block;
}

.nav-links-board a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'britannic';
    
}

.nav-links-board a:hover{
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}
.cards-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.question-card{
    background-color:#F4F4F4;
    width: 550px;
    height: 200px;
    padding: 22px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.mid-pic img{
    width: 120px;
    border-radius: 20px;
}
.left-side{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.right-side{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.left-side button{
   width: 60px;
   height: 30px;
   border: black solid 2px;
   border-radius: 150px;
   font-family: 'britannic';
}
.right-side button{
    width: 60px;
   height: 30px;
   border: black solid 2px;
   border-radius: 150px;
   font-family: 'britannic';
}
.left-side button:hover{
    color: white;
    background-color: #A90000;
    
}
.right-side button:hover{
    color: white;
    background-color: #A90000;
}
.bottom-bar{
    width: 100%;
    height: 20%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.team-1{
    font-family: 'britannic';
    margin-left: 120px;
    
}

.team-2{
    font-family: 'britannic';
    margin-right: 120px;
}
.team-1 p{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

.team-2 p {
    border-bottom: 2px solid black;
    padding-bottom: 8px;

}
.score-box {
    width: 70px;
    height: 50px;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* let the board hidden  */
.cards-container{
    display: none;
}
.bottom-bar{
    display: none;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* question page */
.game {
    display: flex;
    gap: 30px;
}

.quiz {
    width: 500px;
    border: 3px solid #e5e5e5;
    border-radius: 20px;
    padding: 40px;
    margin-left: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.question {
    font-size: 30px;
    margin-bottom: 40px;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

.choices button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: #e5e5e5;
}
.choices button:hover {
   color: white;
   background-color: #A90000;
}

.teams {
    width: 200px;
    margin-top: 100px;
}

.team {
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 15px;
    background: #f3f3f3;
}

.team-active {
    background: #ff8c42;
    color: white;
}
.answer{
font-family:'britannic';

}

.bottom-bar2{
    width: 100%;
    height: 20%;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.team-11{
    font-family: 'britannic';
    margin-left: 120px;
    
}

.team-22{
    font-family: 'britannic';
    margin-right: 120px;
}
.team-11 p{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}

.team-22 p {
    border-bottom: 2px solid black;
    padding-bottom: 8px;

}
.score-box2 {
    width: 70px;
    height: 50px;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.game{
    display: none;
}
.answer{
    display: none;
}
.bottom-bar2{
    display: none;
}

